@charset "UTF-8";
@font-face { font-family: "Guardian Titlepiece"; src: url('http://pasteup.guim.co.uk/fonts/latin1/GuardianTitlepieceWeb-Regular.eot'); src: url('http://pasteup.guim.co.uk/fonts/latin1/GuardianTitlepieceWeb-Regular.eot?#iefix') format('embedded-opentype'), url('http://pasteup.guim.co.uk/fonts/latin1/GuardianTitlepieceWeb-Regular.woff') format('woff'), url('http://pasteup.guim.co.uk/fonts/latin1/GuardianTitlepieceWeb-Regular.ttf') format('truetype'), url('http://pasteup.guim.co.uk/fonts/latin1/GuardianTitlepieceWeb-Regular.svg#GuardianTitlepieceWeb-Regular') format('svg'); font-weight: normal; font-style: normal; font-stretch: normal; }

html { background-color: #EFEFEB; }

.header { overflow: hidden; background-color: #EFEFEB; height: 95px; }
    .header h1.pure-u-1-4 { font-family: 'Guardian Titlepiece',georgia,serif; color: #D5641C; font-size: 45px; font-weight: 600; display: inline-block; }
    .header form { margin-top: 40px; }
    .header #header_search input[type="text"] { width: 80%; float: left; border: 1px solid #d2d2d2; border-right: 0; height: 34px; padding: 7px 10px; font-size: 16px; border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; }
    .header #header_search button { float: left; width: 20%; border: 1px solid; border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; padding: 7px 15px; text-align: center; color: #7d7773; text-decoration: none; font-family: Arial,Helvetica,sans-serif; font-size: 15px; font-weight: bold; border-color: #d8d5d2 #CFCBC8 #c4c0bc; background: #e7e5e5; background: -webkit-linear-gradient(top,#f7f7f7 0,#f6f6f5 4%,#ebebea 11%,#ebebea 95%,#dfe0e1 100%); background: -moz-linear-gradient(top,#f7f7f7 0,#f6f6f5 4%,#ebebea 11%,#ebebea 95%,#dfe0e1 100%); background: -ms-linear-gradient(top,#f7f7f7 0,#f6f6f5 4%,#ebebea 11%,#ebebea 95%,#dfe0e1 100%); background: -o-linear-gradient(top,#f7f7f7 0,#f6f6f5 4%,#ebebea 11%,#ebebea 95%,#dfe0e1 100%); }
    .header .account_actions, .header .account_actions a { display: inline-block; }
    .header .account_actions { float: right; margin-top: 42px; }
        .header .account_actions a { display: inline-block; color: #333; padding: 5px 10px; text-decoration: none; font-family: "Arial","Helvetica",sans-serif; font-size: 14px; border-left: 1px solid #d2d2d2; }
            .header .account_actions a:first-child { border-left: none; }
        .header .account_actions .shopping_cart { padding-left: 10px; padding-right: 5px; }
            .header .account_actions .shopping_cart img { margin-right: 5px; }
        .header .account_actions .cart_item_count { background-color: #78c042; color: #ffffff; line-height: 10px; padding: 2px 5px; position: relative; font-size: 12px; display: inline; }


#top-nav-container.wrapper { width: 100%; background-color: #ffffff; border-top: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2; }
#top-nav-container > * { width: 80%; margin: 0 auto; display: block; }
.pure-menu.pure-menu-horizontal > ul { height:auto;}
.pure-menu li a { color: #0192b5 !important; font-size: 14px; font-weight: bold; white-space: nowrap; display: block; height: 36px; vertical-align: middle; padding: 20px 25px 0; }

body > section, body > header, body > footer, body > nav, body > .wrapper #top-nav-container { width: 80%; max-width: 1000px; margin: 0 auto; }
body > .wrapper { width: 100%; }


.slideshow.wrapper { background-color: #ffffff; }
.slideshow ul { width: 80%; position: relative; margin: 0 auto; list-style: none; }
.slideshow .product_meta { padding: 100px 0 20px 50px; width: 540px; display: inline-block; position: absolute; }
.slideshow .product_meta span {display:block; color: #333; font-family: 'Guardian Titlepiece',georgia,serif; font-size: 42px; font-weight: 400;  text-shadow: 0 2px 1px rgba(255,255,255,.8); }
    .slideshow .product_meta .pure-button {margin-top:20px }
.slideshow li img { width: 100%; }

.pure-u-1 > h2, .pure-u-1 > p { width:100%; text-align:center;}
h2, h3 { font-family: 'Guardian Titlepiece',georgia,serif; color: #333;  }
h2 { font-size: 32px; font-weight: 500; text-shadow: 0 2px 1px rgba(255,255,255,.8);}
h3 { font-size: 26px; font-weight: 500; }

.bucket {margin:15px 14px 0 14px ; background-color:#ffffff; padding:5px; height: 340px;}
    .pure-u-1-3:first-child .bucket { margin-left: 0; }
    .pure-u-1-3:last-child .bucket { margin-right:0 }

.page-footer .bucket { background-color: transparent; }
    .page-footer .bucket img { margin:0 auto; display: block;}
    .page-footer .bucket h3, .page-footer .bucket p { text-align:center;}
    .page-footer .bucket h3{ font-family: 'Guardian Titlepiece',georgia,serif; color: #333; font-size: 32px; font-weight: 500; text-shadow: 0 2px 1px rgba(255,255,255,.8); }
    .page-footer .bucket p {color:#888; }

.site-footer { border-top: 1px solid #d2d2d2; overflow: hidden; padding-bottom: 20px; }
    .site-footer .copyright { float: left; color: #666; font-size: 11px; margin-right: 20px; display: block; }
    .site-footer .pure-menu-horizontal { float: right; margin: 0; }
        .site-footer .pure-menu-horizontal li { padding: 0 6px; }
        .site-footer .pure-menu-horizontal a { font-size: 11px; color: #666; text-decoration: none; }
